<header>
  <h1>start my pitchers</h1>
  <h3>coming soon</h3>
</header>
<div class="team">
  <div class="team-left">
    <img class='team-logo' src="<%= @team['team_logos'][0]['team_logo']['url'] %>">
  </div>
  <div class="team-right">
    <h3 class="team-name"><%= @team["name"] %></h3>
    <h4 class="league-name"><%= @league["name"] %></h4>
    <%= button_to "start 'em all!", homes_set_pitchers_path, :method => :put, :class => "btn" %>
  </div>
</div>
<div class="main">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <% @week_pitchers.each do |date, pitchers| %>
    <div class="daily-pitchers"<% if Date.today == date %> style="background-color: #eeeeee" <% end %>>
      <p style="text-align: center;"><strong><%= Date::DAYNAMES[date.wday] %></strong><br><%= date %></p>
      <%= button_to "start 'em!", homes_set_pitchers_path(:date => date), :method => :put, :class => "btn" %>
      <table>
      <% pitchers.each do |pitcher| %>
        <tr
        <% if pitcher["starting_status"] && pitcher["starting_status"]["is_starting"] == 1 %>
          style="background-color: #0ab5d3; color: white;"
        <% end %>
        >
          <td>
            <% if pitcher["starting_status"] && pitcher["starting_status"]["is_starting"] == 1 %>
              <strong>^</strong>
            <% end %>
          </td>
          <td>
            <%= pitcher["selected_position"]["position"] %>
          </td>
          <td>
          <%= pitcher["name"]["first"].first %>. <%= pitcher["name"]["last"] %>
          (<%= pitcher["eligible_positions"].select{ |p| !["P","DL"].include?(p["position"]) }.map{ |p| p["position"] }.join("/") %>)
          </td>
        </tr>
      <% end %>
      </table>
    </div>
  <% end %>
</div>
